/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:wght@300;400;600&display=swap');


body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(220,220,220,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(220,220,220,0.75);
    box-shadow: 0px 3px 5px 0px rgba(220,220,220,0.75);
    margin-bottom: 2em;
}

.title {
    text-align: center;
    padding-top: 0.1em;
    margin: auto;
    font-family: 'Caveat Brush', cursive;
    font-size: 3rem;
    color: #08C089;
}

.sub-title {
    text-align: center;
    padding: 0 0.5em 1em;
    font-family: 'Caveat Brush', cursive;
    font-size: 1rem;
    color: #3C3C3C;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}

.postcard {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 22px);
    grid-gap: 16px;
}

#text-box {
    padding: 16px;
    grid-row: span 6;
    grid-column: span 8;
    background-color: #F9D56E;
}

#text-box > p {
    font-size: x-large;
}

#illustration-box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    grid-row: span 6;
    grid-column: span 4;
    background-color: #E8505B;
}

#illustration-box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    grid-row: span 6;
    grid-column: span 4;
    background-color: #14B1AB;
}

#illustration-box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    grid-row: span 6;
    grid-column: span 4;
    background-color: #F3ECC2;
}

#illustration-box-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    grid-row: span 6;
    grid-column: span 4;
    background-color: #F9D56E;
}


@media (min-width: 425px) {
    .container {
        width: 375px;
    }
    .postcard-container {
        grid-column: span 12;
        background: #48fa8f;
        border: 1px solid #000000;
    }
    
    .controls-container {
        grid-column: span 12;
        background: #1a81d0;
        border: 1px solid #000000;
    }
}

@media (max-width: 992px){
    .container {
        width: 970px;
    }

    .postcard-container {
        grid-column: span 12;
        background: #cbd781;
        border: 1px solid #000000;
    }
    
    .controls-container {
        grid-column: span 12;
        background: #1a81d0;
        border: 1px solid #000000;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 985px;
    }

    .postcard-container {
        grid-column: span 9;
        background: #ffffff;
        border: 1px solid #000000;
    }
    
    .controls-container {
        grid-column: span 3;
        background: #ffffff;
        border: 1px solid #000000;
    }
}


